.main {
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: beige;
    align-items: center;
    height: 100vh;
}

.main_container {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 1250px;
    background-color: pink;
    grid-template-columns: 1fr 3fr 1fr;
}

.main_container > * {
    border: 1px solid white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}